button{
    color: #fff;
    border: none;
    padding: 10px 20px;
    border-radius: 5px;
    cursor: pointer;
    text-transform: uppercase;
    font-weight: bold;
    opacity: 0.9;
    transition: all 0.3s ease-in-out;
    flex: 1;
  }

button:hover{
    opacity: 1;
    transform: scale(1.05);
}

#clear-btn{
    background-color: #c0392b;
}

#calc-btn{
    background-color: #27ae60;
}

#calc-btn:hover{
    background-color: #219148;
}

#clear-btn:hover{
    background-color: #e74c3c;
}

#calc-btn:disabled{
    opacity: 0.5;
    transform: none;
    cursor: not-allowed;
}


